* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 0 0 0;
}

p {
    margin: 0px 0 2px 0;
}

.container {
    width: 85%;
}

#dataContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bottomBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#catImage {
    margin-top: 10px;
}

#catFact {
    margin-top: 10px;
}

#catBtn {
    margin: 5px;
}

#breed-card-form {
    margin: 5px;
}

#modal {
    margin: 5px;
}

#homeBtn {
    
    margin: 5px;
}

#compareBtn {
    margin: 5px;
}

#card {
    border-radius: 5px;
    border: 2px solid #0e1c5a;
    background-color: #82b1ff;
}

#outsideColor {
    border-radius: 10px;
}