* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main a {
    margin: 5px;
}

h3 {
    text-align: center;
}
img {
    display: flex;
    width: 80%;
    margin: auto;
}
